{% extends 'base/base.html' %}

{% block content %}
  <h1>Categories</h1>
  <ul>
    {% for category in categories %}
      <li><a href="{% url 'store:category_detail' category.id %}">{{ category.name }}</a></li>
    {% endfor %}
  </ul>
<!-- Display Shopping Basket -->
  <div class="shopping-basket-section">
    <h3>Shopping Basket</h3>
    <p>Total Price: {{ user_basket.total_price }}</p>
    <p>Number of Products: {{ basket_items.count }}</p>
    <ul>
      {% for item in basket_items %}
        <li>{{ item.product.name }} - Quantity: {{ item.quantity }}</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
