{% extends 'base/base.html' %}

{% block content %}
  <h1>{{ product.name }}</h1>
  <p>{{ product.description }}</p>

  <!-- Display Thumbnail -->
  {% if product.thumbnail %}
    <img src="{{ product.thumbnail.url }}" alt="{{ product.name }} thumbnail">
  {% endif %}

  {% if product.price %}
  <p>Price: ${{ product.price.price }}</p>
  {% else %}
    <p>Price: N/A</p>
  {% endif %}

  <!-- Display Medias -->
  <h2>Medias</h2>
  {% for media in product.Medias.all %}
    {% if media.media_type == 'image' %}
      <img src="{{ media.file.url }}" alt="{{ media.title }}">
    {% elif media.media_type == 'video' %}
      <video controls>
        <source src="{{ media.file.url }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    {% elif media.media_type == 'audio' %}
      <audio controls>
        <source src="{{ media.file.url }}" type="audio/mp3">
        Your browser does not support the audio tag.
      </audio>
    {% endif %}
    <p>{{ media.title }} - {{ media.description }}</p>
  {% endfor %}

  <h2>Comments</h2>
  <ul>
    {% for comment in approved_comments %}
      <li>{{ comment.author.username }} - {{ comment.text }}</li>
    {% endfor %}
  </ul>

  {% if user.is_authenticated %}
    <h3>Add a Comment</h3>
    <form method="post" action="{% url 'store:api_comment_list' product.id %}">
      {% csrf_token %}
      <textarea name="text" required></textarea>
      <input type="submit" value="Submit Comment">
    </form>

    <!-- Display Shopping Basket -->
    <div class="shopping-basket-section">
      <h3>Shopping Basket</h3>
      <p>Total Price: {{ user_basket.total_price }}</p>
      <p>Number of Products: {{ basket_items.count }}</p>
      <ul>
        {% for item in basket_items %}
          <li>{{ item.product.name }} - Quantity: {{ item.quantity }}</li>
        {% endfor %}
      </ul>

      <!-- Add to Basket Form -->
    <form action="{% url 'store:add_to_cart' product_id=product.pk %}" method="post">
      {% csrf_token %}
      <button class="add-to-cart-btn" type="submit">Add to Cart</button>
    </form>
  </div>
  {% else %}
    <p>Login to add a comment or add the product to your basket.</p>
  {% endif %}

  {% if user.is_authenticated %}
  {% if not payment_exists %}
    <a href="{% url 'financial:payment_form' %}">Proceed to Payment</a>
  {% else %}
    <p>You've already made a payment for this product.</p>
  {% endif %}
{% else %}
  <p>Login to proceed to payment.</p>
{% endif %}

{% endblock %}
